<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<title>Styleguide</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="global.css">
		<link rel="stylesheet" href="styleguide.css">
		<link rel="stylesheet" href="css/bootstrap.css">
		
	</head>
	<body>
<h1>Guia de Estilo</h1>

<article>
	<h1>cores</h1>
	<div class="styles">
		<section class="cores_primarias">
			<h2>Primárias</h2>
			<div class="primaria-1">#FDFDFE</div>
			<div class="primaria-2">#2E2F41</div>
			<div class="primaria-3">#9064F6</div>
			<div class="primaria-4">#9496A3</div>
			<div class="primaria-5">#9496A3</div>
		</section>
		<section class="cores_secundarias">
			<h2>Secundárias</h2>
			<div class="secundaria-1">#</div>
			<div class="secundaria-2">#</div>
			<div class="secundaria-3">#</div>
		</section>
	</div>
</article>

<article>
	<h1>tipografia</h1>
	<div class="styles">
		<section >
			<br>Título<br>
			<h1>Software para o Gerenciamento Financeiro</h1>
		</section>
		<section class="tipografia_corpo">
			<h2>Corpo de Texto</h2>
			<div class="tipo corpo-1">
				<p>Neste sentido, a mobilidade dos capitais internacionais causa impacto indireto na reavaliação de todos os recursos funcionais envolvidos.</p>
				<p>No mundo atual, o consenso sobre a necessidade de qualificação exige a precisão e a definição do sistema de participação geral.</p>
			</div>
			<div class="corpo-2">
				<p>Neste sentido, a mobilidade dos capitais internacionais causa impacto indireto na reavaliação de todos os recursos funcionais envolvidos.</p>
				<p>No mundo atual, o consenso sobre a necessidade de qualificação exige a precisão e a definição do sistema de participação geral.</p>
			</div>
		</section>
	</div>
</article>

<article>
	<h1>elementos</h1>
	<div class="styles">
		<section class="botoes">
			<h2>Botões e Links</h2>
			<div class="btn btn-purple">Botão Primário</div>
			<button type="button" class="btn btn-danger">Danger</button>
			<button type="button" class="btn btn-warning">Warning</button>
			<button type="button" class="btn btn-info">Info</button>
			<div><a  class="textWallet" href="#">Links</a></div>
		</section>
		<section class="formularios">
			<h2>Formulários</h2>
			<form>
					<div class="form-group">
					  <label for="exampleInputEmail1">Email address</label>
					  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
					  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
					</div>
					<div class="form-group">
					  <label for="exampleInputPassword1">Password</label>
					  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
					</div>
					<div class="form-group form-check">
					  <input type="checkbox" class="form-check-input" id="exampleCheck1">
					  <label class="form-check-label" for="exampleCheck1">Check me out</label>
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
				  </form>
		</section>
	</div>
</article>


	</body>
</html>