
.text-muted{
	display: none;
}

body{
    padding-top: 75px;
}

.border {
    border: 5px solid white !important;
}

.bgWallet{
    background: #2E2F41;
}

.textWallet {
    color: #9496A3 !important;
}

/*intro*/

.intro{
	background: url('../img/contato.jpg') no-repeat center center;
	background-size: cover; /*Sempre 100% */
	padding: 70px 0;
	text-align:center;
	color:black;
}

.introContato{
	background: url('../img/contato.jpg') no-repeat center center;
	background-size: cover; /*Sempre 100% */
	padding: 70px 0;
	text-align:center;
	color:black;
}

.intro h1::after{
	content: '';
	display:block;
	width: 80px;
	height:4px;
	background: #9064F6;
	margin: 10px auto;
}

.intro h2::before{
	content: '';
	display:block;
	width: 80px;
	height:4px;
	background: #9064F6;
	margin: 10px auto;
}

.btn-purple {
    color: #fff;
    background-color:#9064F6;
    border-color: #9064F6;
}

.btn-purple:hover{
	background-color:white;
	color:#4B347F;
}

.list-group-item-purple{
    color: white;
    background-color: #9064F6;
}


#mensagemc{
	margin-top: 0px;
	height: 120px;
	resize: vertical;
}

@media (max-width: 739px){
	.intro{
		padding: 60px 0;
	}
}

#titulos{
	color: white;
}

