{% extends "base.html" %} 
{% load static %}
 {% block principal %}
<br>
<br>
<div   class="principal" id="unica">
  <div class="container py-4">
    <div class="row">
    <div class="col-md-8 col-8">
     <h1>Tem certeza que irá excluir a conta {{user}}?</h1>
     <button><a type="submit" class="btn btn-primary" href="/delete/{{ user }}">Sim</a></button>
     <button><a type="submit" class="btn btn-primary" href="/main">Não</a></button>
    </div>
    </div>
  </div>
</div>
</section>
{% endblock %}