{% extends "base.html" %} {% load static %} {% block principal %}
<br>
<br>
<div class="principal" id="unica">
  <div class="container py-4">
    <div class="row">
      <div class="col-md-3 col-6">
        <ul class="list-group ">
          <li class="list-group-item list-group-item-purple">Meus Investimentos</li>
          <li class="list-group-item list-group-item-purple"> Minhas Despesas</li>
          <li class="list-group-item list-group-item-purple"> Meus Relatórios</li>
          <li class="list-group-item list-group-item-purple">Minhas Metas</li>
          <li class="list-group-item list-group-item-purple">
            <a class="text-white" style="text-decoration: none;" href="/alterar_page/{{user}}">Alterar cadastro</a>
          </li>
          <li class="list-group-item list-group-item-purple">
            <a class="text-white" style="text-decoration: none;" href="/delete_page">Excluir cadastro</a>
          </li>
        </ul>
      </div>
      <div class="col-md-1 col-2">
      </div>
      <div class="col-md-8 col-8">
        <h1>Despesas do {{user}} </h1>
        <br>  
        <p class="lead">Nenhuma despesa Cadastrada</p>
        <p class="lead">Saldo anterior: R$ 0,00</p>  
        <p class="lead">Entradas: R$ 0,00 </p> 
        <p class="lead">Saídas:  R$ 0,00</p>  
        <p class="lead">Resultado:  R$ 0,00</p> 
        <a class="btn btn-purple" href="{%url 'cadastrar_despesa' %}">Cadastrar Despesa</a>
      </div>
    </div>
  </div>
</div>
</section>

{% endblock %}