{% extends "base.html" %}
{% load static %}
{% block principal %}

<br>
  <br>
  <h1 class="text-center">Recuperação de senha</h1>
  <br><br>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
      
      <div class="text-center">  
        <a>Um email com o link de confirmação foi enviado. Verifique sua caixa de entrada. </a>
      <br><br>
      </div>
      </div>
    </div>
    <br>
    <br>
    <br>
  </div>
  <br>
  <br>
  <br>
  <br>



{% endblock %}