<!DOCTYPE html>
{% load static %}
<html lang="pt-br">

<head>
  <!-- Meta tags Obrigatórias -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>MyWallet!</title>
</head>

<body>

  <nav class="navbar navbar-light bgWallet navbar-expand-md fixed-top py-3 shadow-sm">
    <a href="/index" class="navbar-brand font-weight-bold px-2 border border-dark text-white">
      MyWallet
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto ">
        <li class="nav-item ">
          <a class="nav-link textWallet" href="/qsomos">Quem somos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link textWallet" href="/contato">Contato</a>
        </li>
        <li class="nav-item">
          <a class="nav-link textWallet" href="/login" >Login</a>
        </li>
        <li class="nav-item">
          <a class=" btn btn-outline-light ml-md-2 textWallet" href="/inscricao">Cadastrar-se</a>
        </li>
      </ul>
    </div>
  </nav>

  {% block  principal %}<br><br>{% endblock %}

  <footer style=" 
                  left: 0;
                  bottom: 0;
                  width: 100%;
                  text-align: center;" 
  class="bgWallet text-white">
    <div class="container py-4">
      <div class="row">
        <div class="col-md-3 col-6">
          <h4>PÁGINAS</h4>
          <ul class="list-unstyled">
            <li>
              <a href="/planos">Quem somos</a>
            </li>
            <li>
              <a href="/contato">Contato</a>
            </li>
            <li>
              <a href="/inscricao">Cadastra-se</a>
            </li>
            <li>
              <a href="/login">Login</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 col-6">
          <h4>Patrocínio</h4>
          <ul class="list-unstyled">
            <li class="textWallet">
              Seja um dos nossos patrocinadores
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <h4 class="h6">DADOS CONTATOS</h4>
          <ul class="list-unstyled textWallet">
            <li>mywallet@gmail.com</li>
            <li>(87)99113-9442</li>
            <li>De Seg a Sext das 8h as 18h</li>
          </ul>
        </div>
        <div class="col-md-2">
          <h4 class="h6">REDES SOCIAIS</h4>
          <ul class="list-unstyled">
            <li>
              <a class="btn btn-purple mb-2 btn-sm btn-block" href="#" style="max-width:140px">
                Facebook
              </a>
            </li>
            <li>
              <a class="btn btn-purple mb-2 btn-sm btn-block" href="#" style="max-width:140px">
                Twitter
              </a>
            </li>
            <li>
              <a class="btn btn-purple mb-2 btn-sm btn-block" href="#" style="max-width:140px">
                Youtube
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="bg-primary text-center py-3">
      <p class="mb-0">MyWallet 2018. Alguns Direitos Reservados</p>
    </div>
  </footer>


  <!-- JavaScript (Opcional) -->
  <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
</body>

</html>