{% extends "base.html" %}

{% block principal %}
  <main class="intro">
    <h1 class="text-white">CONTATO</h1>
  </main>
  <br>
  <br>
  <h1 class="text-center">Envie-nos uma mensagem!</h1>
  <br>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="input-group">
          <label class="input-group input-group-addon">
            <b class="glyphicon glyphicon-user"></b>
          </label>
          <input autofocus type="text" class="form-control" id="nomec" placeholder="Nome (Ex: João)">
        </div>
      </div>
    </div>
    <br>

    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="input-group">
          <label class="input-group input-group-addon">
            <b class="glyphicon glyphicon-user"></b>
          </label>

          <input autofocus type="email" class="form-control" id="emailc" placeholder="Email (Ex: joao@email.com)">
        </div>
      </div>
    </div>
    <br>

    <div class="row justify-content-center">
      <div class="col-md-6 ">
        <div class="input-group">
          <label class="input-group input-group-addon">
            <b class="glyphicon glyphicon-log-in"></b>
          </label>
          <textarea type="text" required="required" class="form-control" id="mensagemc" placeholder="Insira aqui a sua mensagem"></textarea>
        </div>
      </div>
    </div>
    <br><br>

    <div class="row justify-content-center">
      <div class="col-md-6 text-center">
        <button type="button" class="btn btn-purple btn-lg  mx-2 px-5 py-1">Enviar</button>
      </div>
    </div>

    <br>
  </div>
{% endblock %}