{% extends "base.html" %}
{% block principal %}

  <main class="intro">
    <h1 style="color: white;font-family: Helvetica;">Software para o Gerenciamento Financeiro</h1>
    <p class="font-italic" style="color: white; text-shadow: 1px 1px #000; font-size: 115%">"Nós não precisamos ser mais espertos que os outros,
      <br> precisamos de disciplina " - Warrem Buffet</p>
       
  </main>

  <div class="container">
    <br>
    <h2 class="text-center"> Controle suas finanças pessoais com MyWallet</h2>
    <br>
    <div class="row px-5 text-center">
      <div class="col-sm-3">
        <img src="{% static 'img/carteira.png'%}" alt="Carteira">
        <h3>Controle de Gastos</h3>
        Controle seu dinheiro de uma maneira e simples.
      </div>
      <div class="col-sm-3">
        <img src="{% static 'img/cash-register.png' %}" alt="Caixa Registradora">
        <h3>Fluxo de Caixa Financeira</h3>
        Análise o seu fluxo financeiro, atráves de funções disponíveis no software.
      </div>
      <div class="col-sm-3">
        <img src="{% static 'img/chart.png' %}" alt="Gráfico">
        <h3>Gerador de Gráficos</h3>
        É possível geral vários tipos de gráficos para uma melhor análise financeira.
      </div>
      <div class="col-sm-3">
        <img src="{% static 'img/money.png' %}" alt="Carteira">
        <h3>Investa Seu Dinheiro</h3>
        Utilize o MyWallet parece saber como investir seu dinheiro corretamente.
      </div>
    </div>
  </div>

  <br>
  <section class="container">
    <div class="my-5 text-center">
      <span class="h6 d-block">AINDA ESTÁ COM DÚVIDAS?</span>
      <h2 class="display-4 text-primary">Perguntas Frequentes</h2>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6" id="perguntasFrequentes" data-children=".pergunta">
        <div class="pergunta py-2">
          <a class="lead" data-toggle="collapse" data-parent="#perguntasFrequentes" href="#pergunta1" aria-expanded="true" aria-controls="pergunta1">→ Qual o custo para utilizar o software?</a>
          <div id="pergunta1" class="collapse show" role="tabpanel">
            <p>Você pode fazer o cadastro gratuitamente e utilizar as funções básicas do software.</p>
          </div>
        </div>
        <div class="dropdown-divider"></div>
        <div class="pergunta py-2">
          <a class="lead" data-toggle="collapse" data-parent="#perguntasFrequentes" href="#pergunta2" aria-expanded="true" aria-controls="pergunta2">→ É possível exportar os gráficos e os relátorios gerados?</a>
          <div id="pergunta2" class="collapse" role="tabpanel">
            <p>Sim é possível, baixar os gráficos e relátorios em diversos formatos.</p>
          </div>
        </div>
        <div class="dropdown-divider"></div>
        <div class="pergunta py-2">
          <a class="lead" data-toggle="collapse" data-parent="#perguntasFrequentes" href="#pergunta3" aria-expanded="true" aria-controls="pergunta3">→ Não sei nada sobre mátematica financeira e analise de investimentos, a aplicação ensina?</a>
          <div id="pergunta3" class="collapse" role="tabpanel">
            <p>O MyWallet já possui funções que ajudam as pessoas atender como cuidar do seu dinheiro adequadamente</p>
          </div>
        </div>
        <div class="dropdown-divider"></div>
        <div class="pergunta py-2">
          <a class="lead" data-toggle="collapse" data-parent="#perguntasFrequentes" href="#pergunta4" aria-expanded="true" aria-controls="pergunta4">→ Existe integração com outras aplicações como o trello?</a>
          <div id="pergunta4" class="collapse" role="tabpanel">
            <p>Primeiro estamos melhoras as funçoes do MyWallet para criar essas intregrações.</p>
          </div>
        </div>
        <div class="dropdown-divider"></div>
        <div class="pergunta py-2">
          <a class="lead" data-toggle="collapse" data-parent="#perguntasFrequentes" href="#pergunta5" aria-expanded="true" aria-controls="pergunta5">→ Possui aplicativo mobile?</a>
          <div id="pergunta5" class="collapse" role="tabpanel">
            <p>Por enquanto não, mas o site para se ajustar em celulares também</p>
          </div>
        </div>
        <div class="dropdown-divider"></div>
      </div>
    </div>
    <div class="text-center my-4">
      <p class="small m-1">FALE CONOSCO PARA MAIS DÚVIDAS</p>
      <a class="btn btn-primary btn-lg" href="contato.html">Entre em Contato</a>
    </div>
  </section>
 {% endblock %}