{% extends "base.html" %}
{% load static %}
{% block principal %}

<div style="margin:50px;">
  <h1 class="text-center">Login</h1>
</div>
<div class="container" style="margin-top:10%;">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="input-group">
        <label class="input-group input-group-addon">
          <b class="glyphicon glyphicon-user"></b>
        </label>
        <input autofocus type="text" class="form-control" id="cmpLogin" placeholder="Usuário">
      </div>
    </div>
  </div>
  <br>

  <div class="row justify-content-center">
    <div class="col-md-6 ">
      <div class="input-group">
        <label class="input-group input-group-addon">
          <b class="glyphicon glyphicon-log-in"></b>
        </label>
        <input type="password" class="form-control" id="cmpSenha" placeholder="Senha">
      </div>
    </div>
  </div>
  <br>
  <div  class="row justify-content-center">
    <div class="col-md-6 text-right">
      <a href="#">Esqueceu sua senha?</a>
      <button type="button" class="btn btn-purple btn-lg  mx-2 px-5 py-1">Login</button>
    </div>
  </div>

  <br>
</div>
{% endblock %}