{% extends "base.html" %}
{% load static %}
{% block principal%}

<div class="principal" id="unica">
  <div class="container py-4">
    <div class="row">
      <div class="col-md-3 col-6">
        <ul id="oi" class="list-unstyled">
          <li>
            <a href="planos.html">Meus Investimentos</a>
          </li>
          <li>
            <a href="contato.html">Minhas dispesas</a>
          </li>
          <li>
            <a href="inscricao.html">Meus Relatórios</a>
          </li>
          <li>
            <a href="contato.html">Minhas Metas</a>
          </li>
        </ul>
      </div>
      <div class="col-md-1 col-2">
      </div>
      <div class="col-md-8 col-8">
        <h1 id="nome">Nome da Pessoa</h1>
        <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut</h4>
        <h1 id="nome">Investimentos</h1>
        <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut</h4>
      </div>
    </div>
  </div>
</div>

{% endblock %}