{% extends "base.html" %}
{% load static %}
{% block principal %}

  <br>

  <br>
  <div class="principal" id="unica">
    <div class="container py-4">
      <div class="row">
        <div class="col-md-3 col-6">
          <ul class="list-unstyled">
            <li>
              <a class="btn btn-purple mb-2 btn-sm btn-block" href="#" style="padding-top: 4%;max-width:80%;min-height: 40px;font-family: Helvetica">
                Meus Investimentos
              </a>
            </li>
            <li>
              <a class="btn btn-purple mb-2 btn-sm btn-block" href="#" style="padding-top: 4%;max-width:80%;min-height: 40px;font-family: Helvetica">
                Minhas Despespesas
              </a>
            </li>
            <li>
              <a class="btn btn-purple mb-2 btn-sm btn-block" href="#" style="padding-top: 4%;max-width:80%;min-height: 40px;;font-family: Helvetica">
                Meus Relatórios
              </a>
            </li>
            <li>
              <a class="btn btn-purple mb-2 btn-sm btn-block" href="#" style="padding-top: 4%;max-width:80%;min-height: 40px;font-family: Helvetica">
                Minhas Metas
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-1 col-2">
        </div>
        <div class="col-md-8 col-8">
           <h1>Seja Bem Vindo {{user}} </h1>
        </div>
      </div>
    </div>
  </div>
  </section>

  {% endblock %}