{% extends "base.html" %}
{% load static %}
{% block principal %}
   <br>
  <section class="container">
        
          <h2 class="textWallet" type="title">Quem somos</h2><br>
                <p>A MyWallet é uma empresa especializada em finanças e atua no mercado financeiro com o objetivo de 
                  facilitar a vida do investidor. Atuamos com gerenciamento de despesas e investimentos para que o usuário tenha 
                  maior controle e organização de seu patrimônio. Nossa empresa possui
                abrangencia nacional, através dos próprios parceiros.</p>
            <h2 class="textWallet" type="title">Nossos princípios</h2><br>
          <h4 class="textWallet" type="title">Missão</h4><br>
                <p>Nossa missão consiste fornecer controle, organização e segurança aos nossos clientes.</p>
          <h4 class="textWallet" type="title">Visão</h4><br>
              <p>Ser referência nacional em controle e gerenciamento de finanças.</p>
          <h4 class="textWallet" type="title">Valores</h4><br>
          <i style="font-size:24px" class="fa">&#xf2b5;</i><p>Confiabilidade</p>
          <i style="font-size:24px" class="fa">&#xf201;</i><p>Visão de futuro</p>
          <i style="font-size:24px" class="fa">&#xf044;</i><p>Organização</p>
  </section>
 
{% endblock %}