{% extends "base.html" %}
{% load static %}
{% block principal %}

  <br>
  <br>
  <h1 class="text-center">Recupere sua senha</h1>
  <br>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
      <div class="text-center">
        <a>Insira seu email para o envio do código de recuperação</a>
        <br>
        <br>
      </div>
        <div class="input-group">
          <label class="input-group input-group-addon">
            <b class="glyphicon glyphicon-user"></b>
          </label>
          <input autofocus type="text" class="form-control" id="cmpEmail" placeholder="Email">
        </div>
      </div>
    </div>
    <br>

    <br>
    <div class="row justify-content-center">
      <div class="col-md-6 text-right" style="height: 100%;min-height: 100%;display: -webkit-flex;display: flex;-webkit-align-items: center;align-items: center;-webkit-justify-content: center;justify-content: center;">
        <button type="button" class="btn btn-purple btn-lg  mx-2 px-5 py-1">Enviar</button> <br>      
      </div>
    </div>

</div>
    <br>
  </div>
  <br>
  <br>
  <br>
  <br>

{% endblock %}